<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des événements</title>
</head>
<body>
    <h2>Liste des événements</h2>

    {% for event in events %}
        <img src="{% static 'img/events.jpg' %}">
        <h2>{{ event.titre }}</h2>
        <ul>
            <li>{{ event.categorie }}</li>
            <li>{{ event.localisation }}</li>
            <li>{{ event.date_heure }}</li>
            <li>{{ event.capacite }}</li>
            <li>{{ event.description }}</li>
            <li>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    <button type="submit" onclick="return confirm('Supprimer cet événement ?')">Supprimer</button>
                </form>
            </li>
        </ul>
        
    </div>
    {% endfor %}

</body>
</html>

{% comment %} {% empty %}
            <li>Aucun événement trouvé.</li> {% endcomment %}